* {
  text-decoration: none;
  color: inherit;
}
/*デスクトップ表示用*/
.headr {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
  z-index: 1;
  width: 100%;
}
.headr-img2 {
  height: 18px;
  padding-left: 25px;
}
ul {
  display: flex;
  padding-right: 20px;
}
.nav-tti:not(:last-child) {
  margin-right: 30px;
  color: #000000;
}
.nav-tti {
  display: inline;
  font-size: 15px;
}
/*レスポンシブル対応ヘッダー箇所*/
@media screen and (max-width: 768px) {
  .headr2 {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
    z-index: 1;
    width: 100%;
  }
  .headr-img2 {
    height: 18px;
    padding-left: 25px;
  }
  .headr-nav2 {
    position: absolute;
    height: 100%;
    width: 100%;
    left: -100%;
    background-color: #ffffff;
    transition: 0.7s;
    text-align: center;
    z-index: 1;
  }
  .headr-nav2 ul li {
    list-style-type: none;
    margin-top: 50px;
  }
  .nav-tti {
    font-size: 15px;
  }
  .menu {
    display: inline-block;
    width: 36px;
    height: 32px;
    cursor: pointer;
  }
  .menu-line-top,
  .menu-line-middle,
  .menu-line-bottom {
    display: inline-block;
    width: 100%;
    height: 5px;
    background-color: black;
    position: absolute;
    transition: 0.5s;
  }
  .menu-line-top {
    top: 15px;
  }
  .menu-line-middle {
    top: 30px;
  }
  .menu-line-bottom {
    bottom: 20px;
  }
  .menu.open span:nth-of-type(1) {
    top: 14px;
    transform: rotate(45deg);
  }
  .menu.open span:nth-of-type(2) {
    opacity: 0;
  }
  .menu.open span:nth-of-type(3) {
    top: 14px;
    transform: rotate(-45deg);
  }
  .in {
    transform: translateX(100%);
  }
}
/*レスポンシブル対応ヘッダー箇所*/
body {
  line-height: 1.5;
  z-index: 2;
}

.top {
  background: url("../CS/img/mv.png") no-repeat center;
  background-size: cover;
  height: 900px;
  position: relative;
}
.top-bun {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.top-message {
  text-align: center;
  align-items: center;
  color: #ffffff;
  font-size: 45px;
}
.top-coment {
  text-align: center;
  align-items: center;
  color: #ffffff;
}
.sisou {
  background-color: black;
}
.sisou-coment {
  width: 1100px;
  margin: 0 auto;
  padding: 5% 0 5% 0;
}
.sisou-title {
  color: #ffffff;
  font-size: 32px;
  line-height: 2;
}
.sisou-bun {
  color: #ffffff;
}
.servies {
  width: 1100px;
  margin: 0 auto;
}
.servies-title {
  text-align: center;
  font-size: 24px;
  margin: 50px 0 20px 0;
}
.service1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.servies-midasi {
  width: 49%;
  padding: 0 5px 10px 0;
}
@media screen and(max-width:768px) {
  .servies {
    width: 100%;
    margin: 0 auto;
  }
  .servies-midasi {
    width: 100%;
    padding: 0 5px 10px 0;
  }
}
.midasi {
  width: 100%;
}
.midasi-coment {
  font-size: 15px;
}
.service-btn {
  position: relative;
  display: flex;
  background-color: #c53838;
  color: #ffffff;
  justify-content: center;
  width: 25%;
  height: 40px;
  margin: 30px auto;
}
.btn-coment {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
}
.news {
  background-color: black;

  height: 500px;
}
.news-hure-mu {
  margin: 0 auto;
  width: 1100px;
  transform: translate(0, 30%);
}
.news-btn {
  position: relative;
  display: flex;
  background-color: #c53838;
  width: 17%;
  height: 40px;
  transform: translate(490%, -50%);
  color: #ffffff;
}
.news-title {
  color: #ffffff;
  display: inline-block;
  font-size: 24px;
}
.news-tag {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.news-tagdate {
  background-color: #ffffff;
  height: 70px;
  margin: 5px 0 5px 0;
}
.coment {
  transform: translate(0, 100%);
}
.news-coment {
  font-weight: bold;
}
.blog {
  width: 1100px;
  margin: 0 auto;
}
.blog-title {
  text-align: center;
  font-size: 24px;
  margin: 50px 0 30px 0;
}
.blog-tag {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.blog-card {
  width: 50%;
  padding: 10px 20px 10px 0;
}
.blog-png {
  width: 100%;
}
.blog-bun {
  font-weight: bolder;
}
.gaiyo {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  margin-bottom: 5%;
}
.gaiyou {
  height: 250px;
  position: relative;
  background-color: #c53838;
  color: rgb(255, 255, 255);
  width: 50%;
}
.gaiyo-bun {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 24px;
  transform: translate(-50%, -50%);
}
.saiyou {
  height: 250px;
  position: relative;
  background-color: black;
  color: #ffffff;
  width: 50%;
}
.saiyou-bun {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 24px;
  transform: translate(-50%, -50%);
}
.call {
  background-color: #f3f3f3;
  text-align: center;
  align-items: center;
  line-height: 50px;
  height: 300px;
}
.call-block {
  width: 1100px;
  margin: 0 auto;
}
.call-title {
  font-size: 30px;
  padding-top: 40px;
}
footer {
  background-color: #202020;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 23px;
  background-color: #202020;
  color: #ffffff;
  font-size: 10px;
  width: 1090px;
  margin: 0 auto;
}
.site-run {
  display: flex;
}
.site-menu {
  display: inline;
  padding-left: 15px;
  padding-right: 15px;
}
.site-menu:nth-child(n + 1):nth-child(n + 2) {
  border-left: 0.5px solid #ffffff;
}

/*レスポンシブルコード*/
@media screen and (max-width: 768px) {
  .top {
    background: url("../CS/img/mv.png") no-repeat center;
    background-size: cover;
    height: 1100px;
    position: relative;
  }
  .top-bun {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .top-message {
    text-align: center;
    align-items: center;
    color: #ffffff;
    font-size: 45px;
  }
  .top-coment {
    text-align: center;
    align-items: center;
    color: #ffffff;
  }
  .sisou {
    background-color: black;
    width: 100%;
    height: 400px;
    position: relative;
  }
  .sisou-coment {
    width: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .sisou-title {
    color: #ffffff;
    font-size: 28px;
    line-height: 2;
    padding: 0 0 10px 0;
  }
  .sisou-bun {
    color: #ffffff;
    line-height: 1.7;
  }
}
