* {
  padding: 0;
  margin: 0;
}

.page {
  height: 500px;
  position: relative;
  border-bottom: solid 0.5px;
}

.block {
  width: 800px;
  height: 200px;
  position: absolute;
  top: 47%;
  background: rgb(12, 12, 160);
}
.page__img {
  width: 50%;
  display: block;
  margin: 30px 20px 0 auto;
}

.headr {
  display: flex;
  justify-content: flex-end;
}
.bun {
  position: absolute;
  top: 40%;
  font-size: 35px;
}

.title {
  display: inline;
  font-size: 24px;
}
