* {
  text-decoration: none;
  color: inherit;
}
a:hover {
  opacity: 0.75;
}
/*デスクトップ表示用*/
.headr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: #ffffff;
  z-index: 1;
  padding: 0 30px;
  position: sticky;
  top: 0;
}
.headr-img2 {
  height: 18px;
  padding-left: 25px;
}
.nav-list {
  display: flex;
  font-weight: bold;
}
.nav-tti:not(:last-child) {
  margin-right: 30px;
  color: #000000;
}
.nav-tti {
  display: inline;
  font-size: 15px;
}

/*レスポンシブル対応ヘッダー箇所*/
@media screen and (max-width: 768px) {
  .headr-nav {
    position: absolute;
    height: 100vh;
    width: 100%;
    left: -100%;
    background-color: #ffffff;
    transition: 0.7s;
    text-align: center;
    z-index: 1;
  }
  .nav-list {
    display: flex;
    flex-direction: column;
    margin-top: 70%;
    height: 100%;
    background-color: #ffffff;
  }
  .nav-list ul {
    padding-top: 80px;
  }
  .headr-nav ul li {
    list-style-type: none;
    margin-top: 50px;
  }
  .menu {
    display: inline-block;
    width: 36px;
    height: 32px;
    cursor: pointer;
    position: absolute;
    top: 20%;
    left: 90%;
    z-index: 2;
  }
  .menu-line-top,
  .menu-line-middle,
  .menu-line-bottom {
    display: inline-block;
    width: 100%;
    height: 5px;
    background-color: black;
    position: absolute;
    transition: 0.5s;
  }
  .menu-line-top {
    top: 15px;
  }
  .menu-line-middle {
    top: 30px;
  }
  .menu-line-bottom {
    bottom: 25px;
  }
  .menu.open span:nth-of-type(1) {
    top: 14px;
    transform: rotate(45deg);
  }
  .menu.open span:nth-of-type(2) {
    opacity: 0;
  }
  .menu.open span:nth-of-type(3) {
    top: 14px;
    transform: rotate(-45deg);
  }
  .in {
    transform: translateX(100%);
  }
}
/*レスポンシブル対応ヘッダー箇所*/
body {
  line-height: 1.5;
}
/*見出し欄*/
.top {
  background: url("../CS/img/mv.png") no-repeat center;
  background-size: cover;
  height: 800px;
  position: relative;
}
.top-bun {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.top-message {
  text-align: center;
  align-items: center;
  color: #ffffff;
  font-size: 45px;
}
.top-coment {
  text-align: center;
  align-items: center;
  color: #ffffff;
}
/*見出しレスポンシブル箇所*/
@media screen and (max-width: 768) {
  .top-bun {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-5%, -50%);
  }
}
/*思想分箇所*/
.sisou {
  background-color: black;
}
.sisou-coment {
  width: 1100px;
  margin: 0 auto;
  padding: 5% 0 5% 0;
}
.sisou-title {
  color: #ffffff;
  font-size: 32px;
  line-height: 2;
}
.sisou-bun {
  color: #ffffff;
}
/*サービス箇所*/
.servies {
  width: 1100px;
  margin: 0 auto;
}
.servies-title {
  text-align: center;
  font-size: 24px;
  margin: 50px 0 20px 0;
}
.service1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.servies-midasi {
  width: 49%;
  padding: 0 5px 10px 0;
}
.midasi {
  width: 100%;
}
.midasi-coment {
  font-size: 15px;
}
/*サービスレスポンシブル対応箇所*/
@media screen and (max-width: 768px) {
  .servies {
    width: 100%;
  }
  .servies-midasi {
    width: 100%;
    padding: 0 30px 15px 30px;
  }
  .midasi-coment {
    font-size: 12px;
  }
}
/*各項目のリンクボタン*/
.service-btn {
  position: relative;
  display: flex;
  background-color: #c53838;
  color: #ffffff;
  justify-content: center;
  width: 25%;
  height: 40px;
  margin: 30px auto;
}
.btn-coment {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
}
/*ニュース箇所*/
.news {
  background-color: black;

  height: 500px;
}
.news-hure-mu {
  margin: 0 auto;
  width: 1100px;
  transform: translate(0, 30%);
}
.news-btn {
  position: relative;
  display: flex;
  background-color: #c53838;
  width: 23%;
  height: 40px;
  transform: translate(335%, -50%);
  color: #ffffff;
}
.news-title {
  color: #ffffff;
  display: inline-block;
  font-size: 24px;
}
.news-tag {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.news-tagdate {
  background-color: #ffffff;
  height: 70px;
  margin: 5px 0 5px 0;
}
.coment {
  transform: translate(0, 100%);
}
.news-coment {
  font-weight: bold;
}
/*ニュースレスポンシブル対応箇所*/
@media screen and (max-width: 768px) {
  .news {
    background-color: black;
    height: 400px;
  }
  .news-hure-mu {
    margin: 0 auto;
    width: 85%;
    transform: translate(0, 30%);
  }
  .news-btn {
    position: relative;
    display: flex;
    background-color: #c53838;
    width: 51%;
    height: 40px;
    transform: translate(98%, -50%);
    color: #ffffff;
  }
  .news-tag {
    display: flex;
    flex-direction: column;
  }
  .news-tagdate {
    background-color: #ffffff;
    height: 50px;
    margin: 5px 0 5px 0;
  }
  .coment {
    transform: translate(0, 100%);
    font-size: 12px;
  }
}
/*ブログ箇所*/
.blog {
  width: 1100px;
  margin: 0 auto;
}
.blog-title {
  text-align: center;
  font-size: 24px;
  margin: 50px 0 30px 0;
}
.blog-tag {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.blog-card {
  width: 50%;
  padding: 10px 20px 10px 0;
}
.blog-png {
  width: 100%;
}
.blog-bun {
  font-weight: bolder;
}
/*ブログレスポンシブル対応箇所*/
@media screen and (max-width: 768px) {
  .blog {
    width: 100%;
  }
  .blog-title {
    text-align: center;
    font-size: 24px;
    margin: 50px 0 30px 0;
  }
  .blog-tag {
    flex-wrap: wrap;
  }
  .blog-card {
    width: 100%;
    margin: 0 auto;
    padding: 0 30px 0 30px;
  }
  .blog-png {
    width: 100%;
  }
  .blog-bun {
    font-weight: bolder;
  }
}
/*会社概要箇所*/
.gaiyo {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  margin-bottom: 5%;
}
.gaiyou {
  height: 250px;
  position: relative;
  background-color: #c53838;
  color: rgb(255, 255, 255);
  width: 50%;
}
.gaiyo-bun {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 24px;
  transform: translate(-50%, -50%);
}
.saiyou {
  height: 250px;
  position: relative;
  background-color: black;
  color: #ffffff;
  width: 50%;
}
.saiyou-bun {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 24px;
  transform: translate(-50%, -50%);
}
/*お問い合わせ箇所*/
.call {
  background-color: #f3f3f3;
  text-align: center;
  align-items: center;
  line-height: 50px;
  height: 300px;
}
.call-block {
  width: 1100px;
  margin: 0 auto;
}
.call-title {
  font-size: 30px;
  padding-top: 40px;
}
/*お問い合わせレスポンシブル対応箇所*/
@media screen and (max-width: 768px) {
  .call-block {
    width: 100%;
    margin: 0 auto;
  }
  .call-title {
    font-size: 30px;
    padding-top: 40px;
  }
  .call-coment {
    font-size: 10px;
    width: 80%;
    margin: 0 auto;
  }
}
/*フッター箇所*/
footer {
  background-color: #202020;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 23px;
  background-color: #202020;
  color: #ffffff;
  font-size: 10px;
  margin: 0 auto;
}
.site-run {
  display: flex;
}
.site-menu {
  display: inline;
  padding-left: 15px;
  padding-right: 15px;
}
.site-menu:nth-child(n + 1):nth-child(n + 2) {
  border-left: 0.5px solid #ffffff;
}
/*レスポンシブル対応フッダー箇所*/
@media screen and (max-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 250px;
    padding: 0;
    background-color: #202020;
    color: #ffffff;
    font-size: 10px;
    width: 100%;
    margin: 0 auto;
  }
  .site-run {
    display: flex;
    flex-direction: column;
    height: 200px;
  }

  .site-menu {
    display: inline;
    padding-left: 15px;
    padding-right: 15px;
    height: 30px;
    margin: 0 auto;
  }
  .site-menu:nth-child(n + 1):nth-child(n + 2) {
    border-left: 0px solid #ffffff;
  }
}
/*レスポンシブルコード　メッセージ*/

@media screen and (max-width: 768px) {
  .sisou {
    background-color: black;
    width: 100%;
    height: 400px;
    position: relative;
  }
  .sisou-coment {
    width: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .sisou-title {
    color: #ffffff;
    font-size: 28px;
    line-height: 2;
    padding: 0 0 10px 0;
  }
  .sisou-bun {
    color: #ffffff;
    line-height: 1.7;
  }
}
/*ボタンのレスポンシブルデザイン*/
@media screen and (max-width: 768px) {
  .service-btn {
    position: relative;
    display: flex;
    background-color: #c53838;
    color: #ffffff;
    justify-content: center;
    width: 50%;
    height: 40px;
    margin: 30px auto;
  }
  .btn-coment {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10px;
  }
}
