* {
  padding: 0;
  margin: 0;
}
body {
  width: 1500px;
}

.headr {
  display: flex;
  justify-content: space-between;
  height: 70px;
  padding: 0 10px;
  align-items: center;
}
ul {
  display: flex;
}
li {
  margin-right: 25px;
}
a {
  text-decoration: none;
}
.headr-img2 {
  width: 25%;
}

.commit {
  position: relative;
}
.commit-card {
  display: block;
  margin: 0 0 0 auto;
  height: 500px;
  width: 850px;
}
.commit1 {
  position: absolute;
  font-size: 60px;
  line-height: 100px;
  top: 15%;
  left: 23%;
  color: #e64b93;
  font-style: unset;
}
.commit2 {
  position: absolute;
  font-size: 24px;
  top: 65%;
  left: 24%;
  color: #e64b93;
  font-weight: bold;
}
.green {
  color: #1bb687;
}
.since {
  position: absolute;
  top: 70%;
  left: 24%;
}

.news {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
section {
  color: #5f5f5f;
  line-height: 30px;
  padding: 5px;
}
.news1 {
  height: 450px;
  border-top: solid 0.5px #a8a8a8;
  border-bottom: solid 0.5px #a8a8a8;
  padding: 40px 0;
  text-align: justify;
  line-height: 40px;
  margin: 20px 0;
  width: 850px;
}
.news2 {
  border-bottom: solid 0.5px #a8a8a8;
}

.pick {
  background-color: #be2dab;
  color: #ffffff;
  border-radius: 20px;
  padding: 0 15px 0 15px;
  margin: 0 15px 0 15px;
}
.child {
  color: #e430eb;
  padding: 39px 0 10px 0;
}
h2 {
  color: #616161;
  font-weight: bold;
  font-size: 30px;
}

.about {
  background: #f1f0f0;
  position: relative;
  width: 1500px;
  flex: none;
  margin: 75px auto;
}
.about2 {
  padding: 50px 0 100px 235px;
  line-height: 30px;
  width: 388px;
}
.about_img {
  width: 430px;
  height: 250px;
  margin: 50px 200px 0 0;
  float: right;
}
.about_tti {
  text-align: center;
}
.about_m {
  padding-top: 30px;
}
.service {
  margin: -20px 0 100px 235px;
}
.grid {
  display: grid;
  grid-auto-rows: 300px;
  grid-auto-columns: 540px;
}
.service_ttl {
  text-align: center;
  color: #ffffff;
  margin: 300px auto;
  font-weight: bolder;
  font-size: 35px;
}
.service1 {
  padding: 10px 0 30px 0;
}
.service2 {
  grid-column: 1/2;
  grid-row: 1/3;
  background: #d45fd8 url("../静的LPimg/service__first.svg") no-repeat;
  background-size: 100% 48%;
}
.service21 {
  margin: -290px 100px 0 100px;
  color: #ffffff;
  font-size: 14px;
  line-height: 30px;
}
.service_ttl1 {
  color: #ffffff;
  margin: 40px 0 0 250px;
  font-weight: bolder;
  font-size: 35px;
}
.service3 {
  grid-column: 2/3;
  grid-row: 1/2;
  background: #a950ac url("../静的LPimg/service__first.svg") no-repeat;
  background-size: 47%;
}
.service31 {
  padding: 50px 0 0 252px;
  color: #ffffff;
  line-height: 30px;
}
.service_ttl2 {
  color: #ffffff;
  margin: 40px 0 0 250px;
  font-weight: bolder;
  font-size: 35px;
}
.service4 {
  grid-column: 2/3;
  grid-row: 2/3;
  background: #7c697c url("../静的LPimg/service__first.svg") no-repeat;
  background-size: 47%;
}
.service41 {
  padding: 50px 0 0 252px;
  color: #ffffff;
  line-height: 30px;
}
.blog {
  background-color: #e9e3e9;
  height: 600px;
}
.blog_ttl {
  margin: 0 0 30px 235px;
}
.blog_tag {
  height: 390px;
  display: flex;
  justify-content: space-around;
  margin: 0 160px 0 210px;
}
.blog2 {
  background-color: #ffffff;
  width: 320px;
  height: 354px;
  border-radius: 30px 30px 30px 30px;
  position: relative;
}
.blog_img {
  width: 100%;
  border-radius: 30px 30px 0 0;
}
.blog_mds {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ba2abe;
  border-radius: 30px 0 0 0;
  width: 60px;
  height: 25px;
  padding: 5% 0 0 10%;
  color: #ffffff;
}
.blog21 {
  display: flex;
  justify-content: space-between;
  padding: 0 30px 0 30px;
}
.blog211 {
  margin: 15px 30px 35px 30px;
  font-size: 16px;
  line-height: 25px;
}
.blog212 {
  display: inline-block;
}
.blog213 {
  display: inline-block;
}
.blog3 {
  background-color: #ffffff;
  border: solid 2px #e430eb;
  width: 160px;
  height: 40px;
  border-radius: 20px 20px 20px 20px;
  margin: 0 auto;
}
.blog31 {
  color: #e430eb;
  text-align: center;
  margin-top: 10px;
}
.company {
  margin: 75px 0 0 310px;
}
table {
  width: 60%;
  height: 400px;
  margin-top: 35px;
}
table th,
table td {
  border: solid 1px #9b9b9b;
  text-align: left;
  padding: 20px;
  color: #686868;
}
table th {
  background-color: #d3d2d2;
}
.reprot {
  margin-top: 80px;
  display: grid;
  grid-template-rows: 360px;
}
.reprot2 {
  background: url("../静的LPimg/recruit.png") no-repeat;
  grid-row: 1/2;
  grid-column: 1/2;
  background-size: 700px 300px;
}
.reprot21 {
  text-align: center;
  margin-top: 130px;
  color: #ffffff;
  font-size: 32px;
}
.reprot3 {
  background: url("../静的LPimg/interview.png") no-repeat;
  grid-row: 1/2;
  grid-column: 2/3;
  background-size: 820px 300px;
}
.reprot31 {
  text-align: center;
  margin-top: 130px;
  color: #ffffff;
  font-size: 32px;
}
.contact2 {
  text-align: center;
  font-weight: bolder;
  color: #949494;
}
.contact3 {
  height: 40px;
  width: 1px;
  background-color: #7e1781;
  margin: 15px auto;
}
.contact4 {
  height: 50px;
  width: 230px;
  background: linear-gradient(90deg, #ff1f9a, #be2dab);
  margin: 15px auto;
  margin-bottom: 80px;
  border-radius: 200px 200px 200px 200px;
  box-shadow: 0 10px #811f74;
}
.contact41 {
  color: #ffffff;
  text-align: center;
  padding-top: 20px;
  position: relative;
}
footer {
  background-color: #dbdbdb;
  text-align: center;
  height: 30px;
  padding-top: 30px;
  border-bottom: 0.5px solid #000000;
}
.copy::before {
  content: "Copyright";
}
.cm {
  font-size: 5px;
  text-align: center;
}
